* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: 0.01em;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #3040c4;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: -0.05em;
  transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
  background-color: #fff;
  color: #3040c4;
}

.fill-button:hover {
  opacity: 0.5;
}

.section {
  padding: 80px 0;
}

.section-category {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.section-title {
  color: #2b292d;
  font-size: 34px;
  line-height: 1.0588235;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

/* Landing Page */

.landing {
  background-color: #fdded8;
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 20px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

/* Service Page */

.service {
  padding: 80px 0px;
  background-color: #f4f5f7;
}

.service-title {
  font-size: 22px;
  line-height: 1.36363636;
  letter-spacing: -0.04em;
  color: #2b292d;
  margin-bottom: 16px;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

/* Program Page */

.program .row:first-child {
  margin-bottom: 32px;
}

.program .col-md-4 {
  margin-bottom: 20px;
}

.program .col-md-4:last-child {
  margin-bottom: 0;
}

.program .section-category {
  color: #009b4d;
}

.program-card {
  display: block;
  padding: 24px 0 32px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.program-card:hover {
  background-color: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card:hover strong {
  color: #fff;
}

.program-card img {
  display: block;
  width: auto;
  height: 195px;
  margin: 0 auto 16px;
}

.program-card strong {
  font-size: 18px;
  line-height: 1.33333333;
  letter-spacing: -0.02em;
  transition: color 500ms ease-in-out;
}

/* Curriculum Page */

.curriculum .section-category {
  color: #0189d1;
}

.curriculum-image {
  display: none;
}

.curriculum-detail-desc {
  font-size: 15px;
  line-height: 1.466666667;
  color: #2b292d;
  letter-spacing: -0.01em;
}

.curriculum .section-desc {
  margin-bottom: 32px;
}

.curriculum .row:first-child {
  margin-bottom: 48px;
}

.curriculum .row:last-child .col-12:first-child {
  margin-bottom: 40px;
}

/* Subscription Page */

.subscription {
  background-color: #f2f8fa;
  text-align: center;
  padding: 40px 0;
}

.subscription-image {
  padding: 25px;
  margin-bottom: 16px;
}

.subscription-image img {
  display: block;
  width: auto;
  height: 190px;
  margin: 0 auto;
}

.subscription-title {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
}

.subscription-desc {
  margin-bottom: 24px;
}

.subscription .input-group {
  margin-bottom: 8px;
}

.subscription .input-group input {
  display: block;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border: none;
  border-radius: 2px;
  margin-bottom: 8px;
  color: #7b7b7e;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.subscription .input-group .fill-button {
  width: 100%;
  cursor: pointer;
}

.subscription-form .form-notice {
  font-size: 13px;
  line-height: 1.5384615;
  letter-spacing: 0;
  color: #7b7b7e;
}

.subscription-form .form-notice a {
  cursor: pointer;
  text-decoration: underline;
  color: #3040c4;
}

/* Footer Page */
.footer {
  padding: 24px 0;
}

.footer-link {
  margin-bottom: 8px;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.footer-link a {
  font-size: 14px;
  line-height: 1.71428571;
  letter-spacing: -0.01em;
  color: #807f81;
}

/* >= 768px (Desktop) */

@media screen and (min-width: 768px) {
  p {
    font-size: 22px;
    line-height: 1.36363636;
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555;
  }

  .section {
    padding-bottom: 96px;
  }

  .section-category {
    font-size: 22px;
    line-height: 1.09090909;
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  /* Landing */

  .landing-content {
    height: auto;
    padding: 120px 0;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.02857143;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* Service */

  .service-title {
    font-size: 26px;
    line-height: 1.30769231;
  }

  .service .col-12:first-child {
    margin-bottom: 0;
  }

  /* Program */

  .program {
    text-align: center;
  }

  .program .row:first-child {
    margin-bottom: 72px;
  }

  .program-card img {
    margin-bottom: 24px;
  }

  .program-card strong {
    font-size: 20px;
    line-height: 1.2;
  }

  /* Curriculum */

  .curriculum .row:first-child {
    margin-bottom: 24px;
  }

  .curriculum .row:last-child .col-12:first-child {
    margin-bottom: 0;
  }

  .curriculum .section-desc {
    margin-bottom: 72px;
  }

  .curriculum-detail-desc {
    font-size: 18px;
    line-height: 1.44444444;
  }

  .curriculum-image {
    display: block;
  }

  .curriculum-image img {
    display: block;
    width: 100%;
    max-width: 425px;
    height: auto;
  }

  /* Subscription */

  .subscription {
    text-align: left;
    padding: 80px 0;
  }

  .subscription-image {
    padding: 8px 0;
  }

  .subscription-image img {
    height: 285px;
    margin-left: 0;
  }

  .subscription-title {
    font-size: 40px;
  }

  .subscription .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .subscription .input-group input {
    height: 56px;
    font-size: 18px;
    line-height: 1.3333333;
    margin-bottom: 0;
    margin-right: 8px;
  }

  .subscription .input-group .fill-button {
    flex-shrink: 0;
    width: 160px;
  }

  .subscription-form .form-notice {
    font-size: 14px;
    line-height: 1.7142857143;
  }

  /* footer */

  .footer {
    padding: 16px 0;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-link {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

/* Custom Grid System - Fix container Width */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
